@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'agrandir';
    src: url('$lib/fonts/agrandir/Agrandir-WideLight.otf');
}


:global(html) {
    scroll-behaviour: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behaviour: smooth;
    
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --font-primary: #070E28;
    --font-grey: #7A7A7A;
    --grey: #FAFAFA;
    --font-nav-grey: #2D2D2D;
}








